.section{
    height: 1080px;
}
.section-img{
    background-image: url("../images/field.jpeg");
    height: 100%;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0 auto;
}
.root{
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.root > div{
    border-radius: 20px;
    margin: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.container-content{
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-content-img{
    width: 5rem;
}
.container-content-img:hover{
    cursor: pointer;
    background-color: green;
}