html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

button:disabled {
    cursor: default;
    pointer-events: all !important;
}

.topbottomrow {
    height: 15vh;
}

.middlerow {
    height: 55vh;
}

.sidecol {
    height: 20%;
}

.clickable {
    cursor: pointer;
}

.table td {
    padding: 0.4rem !important;
    /*padding-right: 0.5rem !important;*/
}

.table td img {
    max-height: 48px !important;
}

#bookingMenuTable {
    margin-bottom: 0rem !important;
}

.rowh {
    width: 5vw !important;
}

#bookingMenuTableHead2 {
    margin: 0 !important;
    opacity: 0 !important;
}

#bookingMenuTableHead2 th {
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 0 !important;
}

.rowborder {
    border-right: 1px solid #c9c9cc;
}

.no-user-btn {
    cursor: default !important;
}

.no-user-text {
    cursor: pointer;
}

.no-user-text:hover{
    text-decoration: underline;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
  
.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
  
.form-signin .form-control:focus {
    z-index: 2;
}
  
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
