html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

button:disabled {
    cursor: default;
    pointer-events: all !important;
}

.topbottomrow {
    height: 15vh;
}

.middlerow {
    height: 55vh;
}

.sidecol {
    height: 20%;
}

/*
.button {
    height: 100%;
    width: 100%;
}
